.about-preference__section {
  background-color: #333d4b;
  height: 577px;
  margin: 200px 0;

  .about-preference__box-info {
    text-align: center;
    padding-top: 110px;

    .about-preference__box-info-heading {
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      /* identical to box height, or 120% */
      text-align: center;
      color: #fefcf7;
    }

    .about-preference__box-info-text {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */
      text-align: center;
      color: #fefcf7;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 540px;
      height: 80px;
      margin: 35px auto;
    }
  }

  .about-preference-triple__boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .about-preference__box-inner-boxes {
      width: 350px;
      height: 380px;
      text-align: center;
      background: #0e8784;
      border-radius: 8px;
      position: absolute;
      top: 40px;

      &:nth-child(1) {
        left: 10px;
      }

      &:nth-child(3) {
        right: 10px;
      }

      .about-preference__box-inner-boxes-img {
        margin-top: 70px;
        margin-bottom: 45px;
      }

      .about-preference__box-inner-boxes-h3 {
        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */
        text-align: center;
        color: #fefcf7;
        margin-bottom: 24px;
      }

      .about-preference__box-inner-boxes-text {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        text-align: center;
        color: #fefcf7;
        margin: 0px 48px;
      }
    }
  }
}
