.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-container__inner-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 125px;
    background-color: #2c343e;
    width: 100%;

    .footer-couple {
      display: flex;
      align-items: center;
      gap: 155px;

      .footer-ul {
        display: flex;
        align-items: center;
        gap: 25px;

        .cff__list {
          list-style: none;

          .cff__list-link {
            font-family: "Barlow";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height, or 125% */
            letter-spacing: 0.923077px;
            text-transform: uppercase;
            color: #83888f;
            text-decoration: none;

            &:hover {
              color: #fefcf7;
              cursor: pointer;
            }
          }
        }
      }
    }
    .footer-social-icons__box {
      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          color: #fdd6ba;
        }
      }

      svg {
        margin: 15px;
      }
    }
  }
}
